.mainBlock {
    font-size: 25px;

    h2 {
        margin: 35px 0 15px;
        font-size: 25px;
    }

    ul {
        padding: 20px;

        li {
            margin-bottom: 15px;
            list-style: disc;
        }
    }
}